/*
Я понимаю что проверка на соотвествие ТЗ и макету это важно. 
Но я хотел бы получать больше советов по архитектуре стилей. 
Может быть какие-то вещи можно оформить как-то более понятнее/короче/элегантнее.
*/

html {
  background: url(../images/cover-image-dark.png) no-repeat fixed center / cover;
}

.page {
  padding: var(--mobile-content-margin);
  container: page / inline-size;
  
}

.header {
  display: grid;
  position: relative;
  gap: 10px;
  block-size: calc(100vh - 20px);
}

.content {
  display: grid;
  gap: 50px;
  margin: 50px 0;
}

.footer {
  display: grid;
  position: relative;
  block-size: calc(100vh - 20px);
  align-content: space-around;
}

@media (width >= 768px) {
  
  .page {
    padding: 20px;
  }
}

@container (inline-size > 727px) {

  .content {
    gap: 80px;
    margin: 80px 0;
    justify-content: center;
  }

  .header {
    block-size: calc(100vh - 40px);
  }

  .footer {
    justify-content: center;
    block-size: calc(100vh - 40px);
  }
}

@container (inline-size > 984px) {

  .header {
    gap: 159px;
  }
}