/* Добрый день. Спасибо за вашу работу. 
Хочу попросить что бы оценивали максимально строго. 
Преветствую любые предложения по улучшению, даже если это будет за рамками данной теории.
Если посоветуете что можно почитать дополнительно (ссылки на статьи)
с которыми стоит ознакомится, то вообще круто. */

.page {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: var(--mobile-content-margin);
  container: page / inline-size;
}

.header {
  display: grid;
  position: relative;
  gap: 10px;
  block-size: calc(100vh - 20px);
}

.content {
  display: grid;
  gap: 50px;
  margin: 50px 0 40px;
}

.footer {
  display: grid;
  position: relative;
  block-size: calc(100vh - 20px);
  align-content: space-around;
}

@media (width >= 768px) {
  
  .page {
    padding: 20px;
  }

  .content {
    gap: 80px;
    margin: 80px 0;
  }
}

@container (inline-size > 728px) {

  .content {
    justify-content: center;
  }

  .header {
    block-size: calc(100vh - 40px);
  }

  .footer {
    justify-content: center;
    block-size: calc(100vh - 40px);
  }
}

@container (inline-size > 984px) {

  .header {
    gap: 159px;
  }
}