.article {
    display: grid;
    gap: 10px;
    container: article / inline-size;
  }

.article__subtitle {
    font-family: var(--main-font, sans-serif);
    font-size: var(--default-font-size);
    font-style: normal;
    font-weight: var(--accent-font-weight);
    line-height: var(--default-line-height);
    color: var(--subtitle-color);
    background-color: var(--accent-color);
  }
  
  .article__text {
    font-family: var(--main-font, sans-serif);
    font-size: var(--default-font-size);
    font-style: normal;
    font-weight: var(--default-font-weight);
    line-height: var(--default-line-height);
    color: var(--text-color);
  }

  .article__link {
    text-decoration: none;
    text-shadow: var(--text-shadow-link);
  }

  .article__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-shadow: var(--text-shadow-link);
  }

  .article__link:focus {
    outline: 0;
  }

  .article__link:focus-visible {
    outline: 1px solid var(--text-color);
  }

  @container (inline-size > 728px) {

    .article__content:nth-child(3) :nth-child(2),
    .article__content:nth-child(4) :nth-child(1) {
      gap: 20px;
    }
  }

