.article {
    display: grid;
    gap: 10px;
    container: article / inline-size;
}

.article__subtitle {
    font-family: var(--main-font, monospace);
    font-size: var(--default-font-size);
    font-style: normal;
    font-weight: var(--accent-font-weight);
    line-height: var(--default-line-height);
    color: var(--subtitle-color);
    background-color: var(--accent-color);
  }
  
  .article__text {
    font-family: var(--main-font, monospace);
    font-size: var(--default-font-size);
    font-style: normal;
    font-weight: var(--default-font-weight);
    line-height: var(--default-line-height);
    color: var(--text-color);
  }

  .article__link {
    text-decoration: none;
    text-shadow: var(--text-shadow-link);
  }

  .article__link:hover {
    border-block-end: 1px solid var(--text-color);
  }

  .article__link:focus {
    outline: 0;
  }

  .article__link:focus-visible {
    outline: 1px solid var(--text-color);
  }

  .article__content:nth-of-type(3) .article {
    gap: 20px;
  }

  @container (inline-size > 727px) {

    .article__content:nth-of-type(4) .article {
      gap: 20px;
    }
  }

