.article__content {
    display: grid;
    align-items: start;
    gap: 20px;
    container: article__content / inline-size;
  }

.article__content-title {
    font-family: var(--main-font, monospace);
    font-size: var(--default-font-size);
    font-style: normal;
    font-weight: var(--accent-font-weight);
    line-height: var(--default-line-height);
    color: var(--article-title);
  }

  
@container (inline-size > 727px) {
    
  .article__content:nth-child(odd) {
    grid-template-columns: minmax(236px, 315px) minmax(472px, calc(100vw - 315px));
  }

  .article__content:nth-child(1) .article__content-title {
    grid-row: 1 / span 2;
    max-inline-size: 236px;
  }
}

@container (inline-size > 984px) {
  
  .article__content:nth-child(2) .article__content-title {
    grid-column: 1 / span 3;
    max-inline-size: 315px;
  }
}